/* content 1 row */

.header-nav-links {
	color: #00D2D3;
	font-weight: bold;
	margin: 0 15px;
}

.header-nav-links:hover {
	color: #00D2D3;
	text-decoration: none;
	outline: none;
}

.burger-nav-links {
    color: #DFE6E9;
    font-size: 18px;
    text-align: center;
    margin: 15px;
    padding-bottom: 10px;
}

.burger-nav-links:hover {
    color: #DFE6E9;
    text-decoration: none;
    outline: none;
}

.header-logo {
	position: absolute;
	bottom: 20px;
    min-width: 220px;
}

.active-link {
	height: 100%;
	border-bottom: 2px solid #00D2D3;
}

.active-link-burger {
    height: 100%;
    border-bottom: 2px solid #DFE6E9;
}

.doctor-index-big-photo {
    height: 740px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.doctors-info {
    position: absolute;
    top: 40%;
    left: 9%;
}

.doctors-pros-wrap {
    background-color: #4F4F4F;
    opacity: 0.7;
    line-height: 80%;
}

.doctors-name {
    color: white;
    background-color: #00D2D3;
    padding: 5px 15px;
    font-weight: bold;
    opacity: 0.7;
}

.doctors-prof {
    color: white;
    padding: 10px 20px;
}

.doctors-cover-img {
    width: 100%;
}

/* content 2 row */

.doctors-name-2 {
    color: #00D2D3;
    font-weight: bold;
}

.doctors-prof-2 {
    color: #4F4F4F;
}

.doctors-signature {
    max-width: 174px;
    max-height: 90px;
}

.doctors-sert {
    max-width: 296px;
    max-height: 224px;
}

.lightbox-container {
    display: flex;
}

.lightbox-img-thumbnail {
    width: 200px !important;
    height: 200px !important;
}

/* content row 4 */

/*.gallery-slider-dots {*/
    /*position: absolute;*/
    /*top: -30px;*/
    /*right: 18px;*/
/*}*/

/*@media screen and (max-width: 600px) {*/
    /*.gallery-slider-dots {*/
        /*display: none;*/
    /*}*/
/*}*/

/*.gallery-slider-dot {*/
    /*display: inline-block;*/
    /*background-color: #00D2D3;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*border: 1px solid #00D2D3;*/
    /*border-radius: 50%;*/
    /*margin: 0px 2px 5px 2px;*/
    /*cursor: pointer;*/
/*}*/

/*.gallery-slider-dot:last-child:after {*/
    /*font-family: FontAwesome;*/
    /*font-size: 11px;*/
    /*content: '\f054';*/
    /*color: white;*/
    /*position: absolute;*/
    /*top: 3px;*/
    /*left: 33px;*/
    /*vertical-align: middle;*/
/*}*/

/*.gallery-slider-dot:first-child:after {*/
    /*font-family: FontAwesome;*/
    /*font-size: 11px;*/
    /*content: '\f053';*/
    /*color: white;*/
    /*position: absolute;*/
    /*top: 3px;*/
    /*left: 8px;*/
    /*vertical-align: middle;*/
/*}*/

.owl-g-prev {
    position: absolute;
    top: -35px;
    right: 25px;
    background-color: #00D2D3;
    width: 20px;
    height: 20px;
    border: 1px solid #00D2D3;
    border-radius: 50%;
    margin: 0px 2px 5px 2px;
    cursor: pointer;
    vertical-align: middle;
}

.owl-g-next {
    position: absolute;
    top: -35px;
    right: 0px;
    background-color: #00D2D3;
    width: 20px;
    height: 20px;
    border: 1px solid #00D2D3;
    border-radius: 50%;
    margin: 0px 2px 5px 2px;
    cursor: pointer;
    vertical-align: middle;
}

.owl-g-prev:after {
    font-family: FontAwesome;
    font-size: 12px;
    content: '\f053';
    color: white;
    position: absolute;
    top: 1px;
    left: 4px;
    vertical-align: middle;
}

.owl-g-next:after {
    font-family: FontAwesome;
    font-size: 12px;
    content: '\f054';
    color: white;
    position: absolute;
    top: 1px;
    left: 6px;
    vertical-align: middle;
}

.gl-image {
    min-width: 100%;
    min-height: 130px;
}

.koshk-wrap {
    padding: 75px 45px;
    background-color: #00D2D3;
    color: white;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    max-height: 300px;
    overflow: hidden;
}

.fix-quote-height {
    max-height: 175px;
    overflow: auto;
}


.fix-quote-height::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.66);
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 10px;
}

.fix-quote-height::-webkit-scrollbar
{
    width: 10px;
    background-color: rgba(245, 245, 245, 0);
}

.fix-quote-height::-webkit-scrollbar-thumb
{
    background-color: rgba(170, 170, 170, 0);
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .2) 75%,
    transparent 75%,
    transparent)
}


.koshk-book {
    max-width: 75px;
    max-height: 112px;
}

.koshk-quote-right {
    position: absolute;
    top: 0px;
    left: 15px;
    font-size: 50px;
    opacity: 0.7;
}

.koshk-quote-left {
    position: absolute;
    bottom: 0px;
    right: 15px;
    font-size: 50px;
    opacity: 0.7;
}

/* content row 5 */

.owl-carousel {
    position: relative;
}

.owl-m-prev {
    position: absolute;
    top: 250px;
    left: -2px;
    background-color: #00D2D3;
    width: 25px;
    height: 65px;
    border: 1px solid #00D2D3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 0px 2px 5px 2px;
    cursor: pointer;
    vertical-align: middle;
}

.owl-m-next {
    position: absolute;
    top: 250px;
    right: -2px;
    background-color: #00D2D3;
    width: 24px;
    height: 65px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #00D2D3;
    margin: 0px 2px 5px 2px;
    cursor: pointer;
    vertical-align: middle;
}

.owl-m-prev:after {
    font-family: FontAwesome;
    font-size: 25px;
    content: '\f053';
    color: white;
    position: absolute;
    top: 15px;
    left: 3px;
    vertical-align: middle;
}

.owl-m-next:after {
    font-family: FontAwesome;
    font-size: 25px;
    content: '\f054';
    color: white;
    position: absolute;
    top: 15px;
    left: 3px;
    vertical-align: middle;
}

.art-card-wrap {
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 5px solid #00D2D3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.art-header {
    color: #00D2D3;
    font-size: 18px !important;
}

.art-mini-desc {
    max-height: 50px;
}

.art-img {
    width: 470px !important;
    height: 300px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.owl-fifth {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

/* content row 6 */

.footer-color {
    color: #DFE6E9
}

.footer-color:hover {
    text-decoration: none;
    color: #DFE6E9;
}

.footer-heading {
    border-bottom: 2px solid #00D2D3;
}

.footer-art-img {
    max-width: 108px !important;
    max-height: 74px;
    width: 100%;
}

.footer-add-icon {
    font-size: 2.5vw;
}

.add-info-wrap {
    border-bottom: 1px dashed #DFE6E9;
}

/* =========== media screens ============== */

@media screen and (max-width: 1401px) {
    .header-logo {
        width: 300px;
    }

    .doctors-sert {
        max-width: 236px;
        max-height: 184px;
    }
}

@media screen and (max-width: 1281px) {
	.header-nav-links {;
	    margin: 0 13px;
    }
    .header-logo {
        bottom: 40px;
    }
}

@media screen and (max-width: 991px) {
    .header-logo {
        bottom: 15px;
    }
    .doctors-pros-wrap {
        line-height: 60%;
    }
}

@media screen and (max-width: 767px) {
    .doctors-info {
        top: 25%;
        left: 1%;
    }
}

@media screen and (max-width: 601px) {
    .doctors-info {
        top: 20%;
        left: 1%;
    }
    .doctors-pros-wrap {
        line-height: 40%;
    }
}

@media screen and (max-width: 401px) {
    .doctors-info {
        top: 15%;
        left: 1%;
    }
}
