.text-color {
    color: #4F4F4F;
}

.text-color-blue {
    color: #00D2D3;
}

.text-color-blue:hover {
    color: #00D2D3;
    text-decoration: none !important;
    outline: none !important;
}

.out-none:hover {
    text-decoration: none !important;
    outline: none !important;
}

.text-color:hover {
    color: #4F4F4F;
    text-decoration: none !important;
    outline: none !important;
}

.word-wrap {
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
}

.fixed-height {
    height: 100%;
    width: 100%;
}

.cursor-pointer {
	cursor: pointer;
}

.z-index {
	z-index: 9999;
}


/*  =========== fonts =============== */

.font-12 {
	font-size: 12px;
}

.font-16 {
	font-size: 16px;
}

.font-18 {
	font-size: 18px;
}

.font-22 {
    font-size: 22px;
}

.font-28-fix {
	font-size: 2.2vw;
}

.font-28 {
	font-size: 1.2vw;
}

.font-32 {
	font-size: 32px;
}

.font-39 {
    font-size: 1.7vw;
}

.font-64 {
    font-size: 3.4vw;
}


/* ========== media screens ============ */

@media screen and (max-width: 1402px) {
	.font-18 {
		font-size: 14px;
	}
    .font-16 {
		font-size: 14px;
	}
}

@media screen and (max-width: 1316px) {
    .font-12 {
        font-size: 10px;
    }
}

@media screen and (max-width: 1101px) {
	.font-18 {
		font-size: 12px;
	}
}

@media screen and (max-width: 1001px) {
	.font-16 {
		font-size: 12px;
	}
    .font-32 {
        font-size: 26px;
    }
}

@media screen and (max-width: 536px) {
	.font-16 {
		font-size: 10px;
	}
    .font-28-fix {
        font-size: 2.6vw;
    }
    .font-28 {
        font-size: 3vw;
    }
    .font-32 {
        font-size: 20px;
    }
    .font-39 {
        font-size: 3.3vw;
    }
    .font-64 {
        font-size: 4.4vw;
    }
}